src/main/mule/get-result.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\getresults:10thresult-config">
		<logger level="INFO" doc:name="Logger" doc:id="fc99aea5-80b4-4735-9135-d331eb4442ae" message="get results flow started" />
		<db:select doc:name="Select" doc:id="9e1e56d0-9afa-4891-999f-fd6961a3bb79" config-ref="Database_Config1" >
			<db:sql ><![CDATA[select StudentName,Hallticketno,Telugu,English,Hindi,Maths,Science,Social from Result WHERE Hallticketno= :Hallticketno]]></db:sql>
			<db:input-parameters ><![CDATA[#[Hallticketno: attributes.queryParams.Hallticketno]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message1" doc:id="a67865e1-6530-46af-97c9-cdb62926c5b2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(result, indexofResult)->{
"Studentnamechanges": result.StudentName,
"hallticketno": result.Hallticketno,
"Telugu": result.Telugu,
"English": result.English,
"Hindi": result.Hindi,
"Maths": result.Maths,
"Science": result.Science,
"Social": result.Social
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    
</flow></mule>
